[2015-08-24 23:58] cahiller opened #2 "Remove tabs we don't need"
Remove these Tabs:
Data Tab
Resources Tab

Leave the About and Feedback page

[2015-08-24 23:59] mkchandler opened #3 "Update "About" page to have OKC information"

[2015-08-25 00:01] cahiller opened #4 "Create Install Package"
Create install package so you don't have to do a bunch of individual installs

[2015-08-25 00:43] carmalou opened #5 "Update Disqus account info"

[2015-08-25 00:45] mkchandler opened #6 "Add codeforokc Google analytics reference"

[2015-08-25 05:05] makenova commented on #4
done in b090fc44f046fbc and edcddd1

[2015-08-25 05:05] makenova commented on #2
Done in b090fc44f046fbc and edcddd1

[2015-09-29 00:19] #5 closed, assigned to mkchandler

[2015-09-29 00:19] mkchandler opened #8 "Remove Discus comments"
For now we will remove the commenting features.

[2015-09-29 00:19] #4 closed, assigned to makenova

[2015-10-26 01:10] mkchandler opened #11 "Get revenue data from city to build cash flow visualization"
In order to visualize cash flow, we need the revenue data in addition to the expense data we already have.

[2015-10-28 01:52] mkchandler commented on #11
After a discussion of this at our October meeting, @cahiller will be working with Doug Dowler and the City Budget Office to get this data.

[2015-10-28 04:33] mkchandler opened #13 "Create a CONTRIBUTING.md document"
To help on-boarding new people I'd like to add a document to assist people in getting started with this project.

Here are some examples from other projects:
- Angular: https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md
- Bootstrap: https://github.com/twbs/bootstrap/blob/master/CONTRIBUTING.md
- OpenGovernment: https://github.com/opengovernment/opengovernment/blob/master/CONTRIBUTIN

[2015-11-03 02:04] cahiller commented on #11
Doug Dowler sent me the correct wording to use for the records request. I submitted one for a CSV file of revenue data and one for 3-digit Agency Numbers and Names. I'll update status here once I receive the data. Doug also made a query that he saved on their server so others can fulfill this request in the future.
Query name to get Expense: qry_Current_Yr_Budget_detail
Query name to get Revenue q

[2015-11-05 03:56] #11 closed, assigned to cahiller

[2015-11-24 00:33] mkchandler opened #15 "Create timeline of budget process"
Adapt the existing timeline to plug in the OKC data. I'm attaching a document from the city that outlines the process of creating the OKC budget every year: [SummaryCalendarforFY17budget.docx.pdf](https://github.com/codeforokc/openbudgetokc/files/42236/SummaryCalendarforFY17budget.docx.pdf)

[2016-01-26 00:34] #15 closed, assigned to nobody

[2016-02-12 04:06] #8 closed, assigned to mkchandler

[2016-02-12 04:11] mascott commented on #6
Do we have an account for this that we're wanting to use?

[2016-02-12 14:01] mkchandler commented on #6
We already have a Google account for Code for OKC that we use for gmail, so I will probably just use that one.

[2016-02-23 00:21] seejessicacode opened #19 "Visually compare value and percentage differences in budgets by year"

[2016-02-23 01:53] mkchandler commented on #19
Ideas and research are appreciated here! This is a work in progress.

[2016-02-23 01:53] #2 closed, assigned to makenova

[2016-03-05 20:09] jagthedrummer opened #23 "Notes from Code Across"
Doug, Chris, and Joanna from the city were here and we had a good discussion. Here are my notes.

For the flowable diagram:

Revenue Source => Fund => Department

Revenue Source is a new column that they will add to the revenue data.

Fund can be determined by Fund Code, in both the expense and revenue data.

Fund Code 001 == General Fund
Any other code == Non Discretionary Funds

In Expense data

[2016-03-05 20:10] jagthedrummer commented on #23
@mascott Worth noting that the reason it's been hard to make high level sense of the data is due to the missing "Department" data that they'll be supplying us.

[2016-03-05 20:17] jagthedrummer commented on #23
This document can be helpful for understanding how some of this stuff nests: http://okc.gov/finance/BudgetDocs/FY16_Adopted_Budget.pdf

[2016-03-05 20:21] jagthedrummer commented on #23
We diagramed out a flow as you zoom in to the expense data:

![20160305_141831](https://cloud.githubusercontent.com/assets/58702/13550178/6d44c0a4-e2dd-11e5-9d75-fac7d165550e.jpg)

[2016-03-05 20:59] mkchandler opened #24 "Add analytics events for the tree-map visualizations"
It would be neat if we could track which departments/areas people are drilling in to on the tree-map visualization.

[2016-03-05 21:07] jagthedrummer opened #25 "data_to_json changes"
@mascott would love to hear your thoughts on this idea.

In `sandbox/data_to_json.rb` we're asking people to identify things like 'account', 'fund', 'operating unit', etc...

I'm not sure that those terms will have any real inherent meaning to people. I'm wondering if we could do something like:

[2016-03-05 21:18] #6 closed, assigned to mkchandler

[2016-03-07 03:24] mascott commented on #25
Yeah, that's absolutely the goal! That particular script was thrown together quickly when I was still trying to get a grasp of the data.

I think it'd be great if the first question was "How many levels does your data contain?" and then spin through matching the header to the level.

We'll probably have graphs that need only a subset of the levels so determining which to use will be interesting.

[2016-03-07 03:30] mascott commented on #23
I'm loving all of this. Thanks @jagthedrummer!

[2016-03-10 23:16] energydev commented on #23
@jagthedrummer I'd potentially like to get involved with this project. I'd like to take an overall look at the code first. What's the link to the branch I should clone? Also, where in the code should I start looking first to get a feel for what's going on.

[2016-03-15 20:06] jagthedrummer commented on #23
@energydev I believe that master is where you want to look. There's a little bit of stuff, like a budget timeline happening in the project itself, and then in the `sandbox` directory is a bit of code where we've started playing with a streamlined way of filtering/manipulating the data we get from them. The sandbox efforts are currently on hold while we wait for additional data from the city. @masc

[2016-03-15 20:40] energydev commented on #23
@jagthedrummer @mascot When I look at the master branch there are several directories with files plus files at the root level. Is there a file that is an equivalent of a home or starting page?

[2016-03-15 21:39] jagthedrummer commented on #23
@energydev I believe it's `_src/index.jade`

[2016-03-22 14:27] jagthedrummer commented on #23
Here's an email we just got from Doug Dowler with extra info. The attached zip contains 3 CSV files and one Excel file.

[Archive.zip](https://github.com/codeforokc/openbudgetokc/files/184280/Archive.zip)

[2016-03-22 15:22] mascott commented on #23
Awesome! Thanks @jagthedrummer

[2016-03-28 23:15] mascott opened #28 "Add Okc budget notes to our Wiki"
We currently have a number of interesting bits of information in our issues. I'd really like to see useful information moved into our wiki so it's available in one spot.

Good example of good data: https://github.com/codeforokc/openbudgetokc/issues/23

I've started a new [wiki page](https://github.com/codeforokc/openbudgetokc/wiki/Okc-Budget-Data-Details) to house the notes in the link above.

[2016-05-05 02:08] #3 closed, assigned to mkchandler

[2016-05-24 00:07] jagthedrummer opened #36 "Notes from the May 23rd meeting"
Here's a rough diagram showing how all of the money flows through the budget. It's a giant two headed tree with income sources on the left, the "fund" (General Fund or Non Discretionary) in the middle, and the expenses on the right.

![20160523_190047](https://cloud.githubusercontent.com/assets/58702/15488150/08675df2-2119-11e6-8fcc-02999ae3a47b.jpg)

The red box on the left shows everything that

[2016-05-24 14:11] cahiller commented on #36
My notes:

Expense tree map needs to sum the matching tuples. Examples:
- The "Police" Agency ID 420 should show the total expense for Police at the Agency level.
-  The "Drainage Improvements" Program ID 3305302 should show the sum of Drainage Improvements at the Program Level.
- Because we are ignoring the Fund level, we are able to sum the two previous examples

Identify which expense agencies

[2016-06-16 01:15] mkchandler opened #37 "Add itemized list below the treemap visualization of what items are visible"
Similar to how Open Budget Oakland displays it on their treemap: http://openbudgetoakland.org/2015-17-proposed-budget-tree.html#fy15-16.expense

[2016-06-16 01:21] mkchandler opened #38 "Some labels are not showing up on treemap visualization"
Investigate why some labels do not show up when zooming in to various levels. Sometimes I think it is because of the small size, but other times it seems like it should be showing.

This can be tested by looking at the `sandbox/zoomable.html` file.

[2016-06-16 01:26] jagthedrummer commented on #38
I narrowed the problem down to this line: https://github.com/codeforokc/openbudgetokc/blob/master/sandbox/zoomable.html#L295

Basically if we detect that the label length is wider than the box that we're drawing it in then we hide the text. I played with it a bit to try to get the text to display and for the `overflow` of the box to hide whatever parts won't fit, but it seems that `overflow` insid

[2016-06-16 01:38] mkchandler commented on #38
We could also do a popover similar to how Oakland does: http://openbudgetoakland.org/2015-17-proposed-budget-tree.html#fy15-16.expense.fy15-16

[2016-06-16 02:13] mascott commented on #25
Well, that was the goal...

Now the goal is to strip it down and make it fit our data exactly so it's easy to run. We can adjust it to be more flexible in the future.

[2016-06-16 02:27] mkchandler opened #41 "Visualization Idea: Show cost of services per citizen"
_From @mkchandler on February 24, 2015 1:38_

Example using the federal budget: http://www.nytimes.com/interactive/2014/01/19/us/budget-proposal.html

_Copied from original issue: codeforokc/okc-budget-data#5_

[2016-06-16 02:28] mkchandler opened #42 "Data Visualization Year to Year"
_From @courtlam on February 23, 2016 1:16_

![screen shot 2016-02-22 at 7 12 51 pm](https://cloud.githubusercontent.com/assets/11417361/13238432/8689dc46-d998-11e5-98ac-d1c4716a8969.png)

http://www.visualcinnamon.com/2015/10/different-look-d3-radar-chart.html

_Copied from original issue: codeforokc/okc-budget-data#7_

[2016-06-16 02:28] mkchandler commented on #42
_From @mascott on February 23, 2016 2:7_

Thanks!

Just so we remember later, we talked some about trying to group the categories into smaller related sets instead of trying fit all of the data into this graph.

[2016-06-16 02:28] mkchandler opened #43 "Still a bit noisy?"
_From @bshambaugh on May 28, 2016 18:24_

This is a great visualization that gives a broad overview of all of the things with city government. You cannot see it, but I loaded to my apache server at http://localhost/codeokctest/circles.html . :) I enjoy the adaptive zoom, that gives more detail as I narrow down on a particular circle. However, I get the impression that it is a bit noisy. Perhaps th

[2016-06-16 02:28] mkchandler commented on #43
_From @bshambaugh on May 28, 2016 18:37_

Inspiration/search dump:
CSci 572 - Data Visualization Demo (Solr + D3) https://www.youtube.com/watch?v=r-K63Iie210
or https://cynng.wordpress.com/2014/03/26/code4lib-2014-day-2-morning-presentations/

What's a facet: https://www.brentozar.com/archive/2013/11/whats-in-a-search-video/

See Also: Julia Bauder, Grinnell College Libraries, Visualizing Solr Sea

[2016-06-16 02:28] mkchandler commented on #43
Thanks for the info @bshambaugh. Do you have a visual example of what you are talking about that way we could see (maybe screenshot or demo)?

[2016-06-16 02:28] mkchandler commented on #43
_From @bshambaugh on June 3, 2016 4:21_

I like this one: https://www.youtube.com/watch?v=r-K63Iie210

-Brent Shambaugh

Website: bshambaugh.org

On Wed, Jun 1, 2016 at 10:38 AM, Matt Chandler notifications@github.com
wrote:

[2016-06-16 02:28] mkchandler commented on #43
_From @bshambaugh on June 3, 2016 4:26_

I see banana in this screencast. Perhaps they are using this code?
https://github.com/lucidworks/banana I would need to try it out.

-Brent Shambaugh

Website: bshambaugh.org

On Fri, Jun 3, 2016 at 12:21 AM, Brent Shambaugh brent.shambaugh@gmail.com
wrote:

[2016-06-16 02:29] mkchandler commented on #19
Replaced by #42

[2016-06-16 02:29] #19 closed, assigned to nobody

[2016-07-14 02:48] smurphy8 commented on #37
It seems like this might already be done?
I looked at some of the values to see they were correct and they all seem to be.

[2016-07-25 23:58] cahiller opened #46 "What is Blocking Us?"
What is keeping us from going live?
- [x] 1. Move working treemap (zoomable.html) from sandbox folder to _src.
- [x] 2. Move the final csv and json file to _src/data
  - [x] *CODE for OKC FY16 Final.json
  - [x] \* CODE for OKC FY16 FinalwLookup.csv
- [ ] 3. What is our landing page?
  - [ ] \* Purpose and goals of the site
  - [ ] \* Preview box of the treemap (and radar when we have it)

[2016-07-28 00:54] smurphy8 commented on #46
@cahiller  @mkchandler  On item 1, do you want to keep the name the same?

[2016-07-28 01:00] cahiller commented on #46
@mkchandler @smurphy8 Should it be ZoomableTreemap? Would that help someone who is new be able to ID the file pretty quickly? I'm up for other suggestions too

[2016-07-28 01:03] smurphy8 commented on #46
Another thing I noticed about the zoomable.html , it doesn't have a caching routine to allow a specific zoom to be exported directly.  Is this on purpose or maybe I am not doing something right?

[2016-07-28 01:10] smurphy8 opened #47 "Remove data and representations of data that are non conforming"
Right now in the main branch of the code.
That is under _src there are data files and trees that are not built the same as the canonical versions that are found in sandbox.  It is something that confused me and I think it was an easy mistake to make.

I would like to clean it up so there is only one "good" data.  I have a couple thoughts about how to do this.
- [ ] Remove old / copy new json files

[2016-07-28 01:18] cahiller commented on #46
@mascott not sure if you have an opinion about the question above?

[2016-07-28 01:20] cahiller commented on #47
@mascott @mkchandler let me know what y'all think. This sounds good to me

[2016-07-28 01:24] smurphy8 commented on #47
@cahiller sorry to blow up your inbox but also, is this the right file?
https://github.com/codeforokc/openbudgetokc/blob/master/sandbox/CODE%20for%20OKC%20FY16%20Final.json
To base features on.

[2016-07-28 11:47] cahiller commented on #47
no worries at all! Yes that's the one you want.

[2016-08-03 00:49] cahiller commented on #47
[CODE for OKC FY17 Budget.xlsx](https://github.com/codeforokc/openbudgetokc/files/398436/CODE.for.OKC.FY17.Budget.xlsx)

Got 2017 budget data! I didn't want to mess up your flow, so I attached it here instead of merging it in.

[2016-08-03 00:52] cahiller commented on #36
[CODEOKCREVBUDFY17.xlsx](https://github.com/codeforokc/openbudgetokc/files/398438/CODEOKCREVBUDFY17.xlsx)

Revenue categories spreadsheet is attached. I believe we can create Jeremy's picture above

[2016-08-11 01:21] cahiller opened #49 "TreeMap labels overlapping"
Our treemap has labels and utilizes hover. We need to cleanup the boxes where the labels overlap

[2016-08-11 01:50] mascott commented on #46
@smurphy8 do you mean that we aren't updating the url with the specific zoom and so you aren't able to copy the address and send it to someone?

Because if that's what you mean it's a great idea.

[2016-08-11 02:17] smurphy8 commented on #46
yeah that is what I mean exactly!

On Wed, Aug 10, 2016 at 8:50 PM, Scott Maslar notifications@github.com
wrote:

##

Scott Murphy
Design Engineer
scottmurphy09@gmail.com

[2016-08-22 23:28] smurphy8 opened #53 "radar switching back and forth between names and numbers for axis."

[2016-08-22 23:39] jagthedrummer commented on #49
I'm guessing that this is what we're talking about in this issue?

<img width="305" alt="screen shot 2016-08-22 at 6 37 06 pm" src="https://cloud.githubusercontent.com/assets/58702/17875421/a45ae3da-6897-11e6-9d77-9cbffc17b122.png">

Conceptually what do we want to happen? Something like "if a box is smaller than X by Y then we don't want to display a label at all"?

[2016-08-23 00:40] smurphy8 opened #55 "Cash Flow Visualization"
Implement a visualization to show how cash goes from revenue to expense.
Modeled after the cash flow visual in the open-budget-okc.
http://openbudgetoakland.org/2015-17-adopted-budget-flow.html

Notes for this are referenced in #36 . @smurphy

[2016-08-23 00:43] mkchandler opened #56 "Modify landing page"
Add the following information to the landing page:
- [ ] Add details about the budget data and what we are attempting to solve with this site. Some of this information is already on the "What and How" page.
- [ ] Add links and thumbnails to the primary visualizations from the landing page.

[2016-08-23 01:00] railsnewbie257 opened #57 "c4OKC_2017.csv Reflects Adopted 2016 Budget Not Proposed 2017"
Checking the _src/data/fy2017/c4okc_fy2017.csv the Agency columns for

"Airport" pg C-11 (page #  in 2017 Proposed Budget book)
"General Fund" pg B-15
"Debt Servicing" pg E-98

 match the column for "Adopted FY16" as opposed to "Proposed FY17" in the budget books.

Also fy2016 and fy2017 expense spreadsheets appear to be the same.

We should try to get the "Proposed 2017" spreadsheet as quickly as

[2016-08-23 01:00] jagthedrummer opened #58 "How is the radar chart working?"
As near as we can tell the data we have for 2016 and 2017 are identical, but we're getting different results on the radar chart. Either those data files aren't identical and we need to figure out how to tell the difference between them OR we're somehow parsing identical data into two different "shapes".

[2016-08-23 01:31] smurphy8 commented on #58
@jagthedrummer  yeah no they are identical...
![doubled_up](https://cloud.githubusercontent.com/assets/182668/17877253/5b77de88-68a7-11e6-8363-a5eba8c06633.png)

[2016-08-23 01:31] smurphy8 commented on #58
When I fixed the axis problem it fixed this.

[2016-08-23 01:32] smurphy8 commented on #57
probably we should reflect adopted and proposed in the file name convention as well as expense revenue?

[2016-08-23 01:41] smurphy8 commented on #58
I feel very uncertain about the whole way the axis system is working in radar chart.  I don't think it is actually selecting the axis appropriately.  I am investigating now.

[2016-08-23 01:46] smurphy8 commented on #58
Yeah, so the radarChart feature is just pulling its axis from the first series range instead of looking across all data fields.  So I need to do something to make the chart more sophisticated.

[2016-08-23 01:59] cahiller commented on #57
@railsnewbie257 i'll take a look at the data and get with Doug about it

[2016-08-23 02:38] jagthedrummer commented on #58
Cool, I'm glad we at least know what's going on. We figured out right at the end that they were likely the same numbers, just in a different order. It looks like we don't actually have 2017 data, so we're going to trace the line backwards and see where things went funky.

@cahiller would you mind attaching the actual Excel file that you got from Doug for 2017?

[2016-08-23 02:47] jagthedrummer commented on #58
Oops. Didn't mean to close that.

[2016-08-23 19:21] railsnewbie257 commented on #57
@cahiller Any luck with Doug?  What we need is the spreadsheet that matches the Proposed 2017 numbers in the budget book.  I'm worried that there may be changes made to the budget database and  Doug had said that updates occur all the time and it's difficult to roll back.

[2016-09-15 02:25] mkchandler commented on #58
We received the actual 2017 data in #61 and #62. @smurphy8 is now continuing work on the radar.

[2016-09-15 02:26] mkchandler commented on #57
This is fixed in #61 and #62

[2016-09-15 02:26] #57 closed, assigned to nobody

[2016-09-18 01:40] smurphy8 commented on #58
This issue is closely related to #53.  I submitted a PR that fixes it.

[2016-09-30 13:34] smurphy8 commented on #58
@mkchandler @jagthedrummer The PR for this was accepted yesterday, this can probably be closed.

[2016-09-30 13:35] smurphy8 commented on #53
Fixed in https://github.com/codeforokc/openbudgetokc/pull/63

[2016-09-30 14:30] #58 closed, assigned to nobody

[2016-10-13 01:12] #53 closed, assigned to nobody

[2016-10-13 01:13] #47 closed, assigned to nobody

[2016-10-13 01:17] smurphy8 commented on #49
Proposed steps:
- [ ] Separate radar js from html
- [ ] Write bounding box violation check code
- [ ] Write tests for code
- [ ] Integrate so that Font size is scaled on violation.

[2016-10-24 23:56] mkchandler opened #67 "Add description and instructions to Budget Tree page"
In addition to the table that is being added in #64 (table), we should try to follow the format of Oakland for displaying the treemap page: http://openbudgetoakland.org/2016-17-adjusted-budget-tree.html#fy16-17.expense

[2016-10-25 00:06] mkchandler commented on #46
All of these items have been split out into their own issues. closing this one

[2016-10-25 00:06] #46 closed, assigned to nobody

[2016-10-25 00:19] jagthedrummer commented on #56
^ This item is addressed by #68

[2016-10-25 00:23] mkchandler opened #70 "Combine feedback.html and contact.html and update text"
There is no need to have 2 pages for contacting us. We should update it to have a lot of the info currently in `feedback.html` but with links to our Issues page in the repo as well as our e-mail address and twitter account.

[2016-10-25 00:25] mkchandler opened #71 "Add description and rename budget radar"
We need to add a description of how the budget radar is working as well as change the name to something along the lines of "Budget Changes".

We are open to ideas for naming this visualization.

[2016-10-31 02:43] mkchandler opened #75 "Another way to visualize differences"
I really like the way that FiveThirtyEight displays "expected margin of victory": http://projects.fivethirtyeight.com/2016-election-forecast/?ex_cid=rrpromo#plus&margins.

I think this would also be a way that we could display changes year-over-year; or even for the mid-year adjustments to the budget.

[2016-10-31 13:45] mascott commented on #75
I wonder what that graph would look like if all of the changes were really close like the difference in Florida. It seems like it might not be as easy to read if that were the case. I don't really know what either of those changes typically look like in the state budget.

[2016-10-31 17:55] mkchandler commented on #75
I think we would have to make the range smaller since the differences are usually in the 1-5% range (I think). Will have to do some experiments after launch

[2016-11-02 00:01] mathewmorris commented on #70
So we want to just have the feedback page? Or Contact Us? I made a pull request that pulled everything into the Contact Us page and fixed/added links. I didn't put a link to our issues page, but that won't be hard to add.

[2016-11-04 17:44] mathewmorris commented on #71
We could name it something like "Budget Evolution" and basically describe how it shows the evolution of the budget over the years. We only have data for this year and next but over time it will show how the budget has evolved instead of changed. I feel like evolution is a better word simply because it refers to the adaptation of the budget.

[2016-11-05 19:35] #56 closed, assigned to nobody

[2016-11-07 04:09] thirdcreed commented on #55
Anyone on this?  I could make a working version in the sandbox, don't want to step on toes though.

[2016-11-07 04:09] thirdcreed commented on #36
Anyone on this? I could make a working version in the sandbox, don't want to step on toes though.

[2016-11-07 04:36] thirdcreed commented on #71
Budget Evolution Radar

The radar shows, at a glance, the shape of the budget allocation for each fiscal year.  The further out on the radar the greater percentage of the budget allocated.  Hover over the small filled in circles to see the exact percentage allocated.

Is this the kind of content we want there? Are we simply trying to describe how to use the tool?

[2016-11-07 15:18] smurphy8 commented on #55
I don't think so.

On Nov 6, 2016 10:09 PM, "Caleb Creed" notifications@github.com wrote:

[2016-11-07 15:19] smurphy8 commented on #55
Also, the sandbox is just one way of doing things.  You can also do things
in place in a branch if you want.  It makes getting the code separated a
bit easier

On Nov 7, 2016 9:17 AM, "Scott Murphy" scottmurphy09@gmail.com wrote:

[2016-11-07 15:43] thirdcreed commented on #55
Understood, I might just make a codepen, (with the data hardcoded) and then put it directly in source on a branch.  There's nothing proprietary, about this data correct?  I mean, I can just put it in the codepen and not worry about people seeing it correct?

[2016-11-07 16:27] smurphy8 opened #78 "Get rid of sandboxes! (Drastic I know but bear with me)"
I am proposing we get rid of the sandbox area for adding new features to the openbudget project.
Sandboxes are very nice for individual developers to make contributions and I don't have a grudge against them in particular but I thought we should at least consider removing them.

# Proposal.
Stop using sandboxes and instead develop features in place with branches for developers to work in.
#  How t

[2016-11-07 16:39] thirdcreed commented on #78
Being new to the project but not to contributing, I can give my perspective:

I opened the project
I saw the instruction int he readme that said the sandbox is where we worked on visualizations
I saw that the sandbox had a sankey.js, and a flowable.html.
Flowable.html was broken.
Made changes to sankey.
Flowable still broken because it was trying to get data from csv, and csv was no longer present

[2016-11-07 16:40] mkchandler commented on #78
I agree with this

[2016-11-07 22:34] thirdcreed commented on #36
How do we handle things like Administrative Charges?  Things that are both a revenue and an expense.  They're an expense of the non-discretionary fund, and a revenue of the general.

There are several others such as internal revenue charges.  Should I omit these, as they are de facto transfers, or should I include them and make a note?  Should we have a more complex diagram, that can include circu

[2016-11-07 22:53] thirdcreed commented on #36
What about carryover revenue from the previous years non-operating budgets? That's apparently the main source of MAPS yearly budget atm.

I don't want to get into the weeds here, more than anything I just want to understand what part of the budget we are aiming to represent, and what part we aren't.

[2016-11-07 23:05] thirdcreed commented on #36
I have no doubt, that I am completely misunderstanding some of this.  This is the paragraph I was reading:

[2016-11-07 23:11] thirdcreed commented on #36
Looks like http://openbudgetoakland.org/2015-17-adopted-budget-flow.html represents these under headings like "Interfund Transfer", and "Transfers from fund balance".  They don't have a corresponding expense "Interfund Transfer", which is a little confusing, but if we could quantify that, then we could simply put those heading on either side of the funds.

[2016-11-08 02:08] thirdcreed commented on #36
I'll leave that all up for prosperity, but for anyone following along, I figured out that some of what I said above makes no sense.  Accounts Charged is only confusing when it charges a fund, directly for services rendered.  Most of it is services rendered to departments which can be easily abstracted as revenue.  Even though the OKC budget seems to indicate that there will be "funds" that are cha

[2016-11-10 03:56] cahiller opened #80 "Deployment Strategy"
We will generate the static site for GitHub pages, but we don't have a process for doing that yet.

[2016-11-10 04:14] #70 closed, assigned to nobody

[2016-11-10 04:17] smurphy8 commented on #80
So exciting!
I would be glad to help here, we can have travis build the static files.
Are we still planning on using github pages?

[2016-11-10 04:19] cahiller commented on #80
Yep! We plan to use github pages

[2016-11-10 04:25] mathewmorris opened #81 "Some visual tweaks needed to be fixed on landing page"
Probably having to do with the crazy way Jade (or pug) does spaces after the pipes.

Just need to go through and add spaces around the emphasized links.

![image](https://cloud.githubusercontent.com/assets/10860014/20164623/7204b808-a6cb-11e6-8525-f4f79cb9c50d.png)

[2016-11-10 04:28] mathewmorris commented on #67
Proposed description from Nov. 9 Online Hack Night for tree map

Select year and account (revenues or expenses). Click on a fund to see the departments that receive its funding. Click on that department to see its spending or revenue. To step out of the department, click ‘Budget’ until you reach the desired department.

[2016-11-10 04:29] mathewmorris commented on #71
Proposed description from Nov 9 Online Hack Night for radar.

## Budget Evolution

The radar shows the shape of the budget allocation for each fiscal year. The further out on the radar the greater percentage of the budget allocated. Hover over the small filled in circles to see the exact percentage allocated.

[2016-11-12 19:05] mkchandler commented on #81
@mathewmorris I took at stab at this and am about to open the pull request

[2016-11-14 02:17] mkchandler commented on #71
Should we highlight that it is comparing 2 different years next to each other?

[2016-11-15 16:13] mathewmorris commented on #71
ah yes. That would be nice. Are we going to have the potential of more than two years?

[2016-11-16 15:54] mkchandler commented on #71
We could compare more than two, but don't have any plans for that at the moment.

[2016-11-17 00:25] #81 closed, assigned to nobody

[2016-11-19 15:33] smurphy8 commented on #42
I think we can call this issue closed and add issues related to the actual radar.

[2016-11-19 15:33] #42 closed, assigned to nobody

[2016-11-19 18:20] #78 closed, assigned to nobody

[2016-11-29 00:40] jagthedrummer opened #84 "Do we want to deal with "actual" numbers in addition to "budgeted" numbers"
Where/how will we show this? What types of visualizations will we use? What's the goal of those?

[2016-11-29 00:41] jagthedrummer opened #85 "Typo : On home page "vairous" should be "various""

[2016-11-29 00:44] jagthedrummer opened #86 "On Approved Budget Comparison Radar Chart can we turn on/off individual years?"

[2016-11-29 00:56] jagthedrummer commented on #85
@JEinOKC fixed this in https://github.com/codeforokc/openbudgetokc/pull/87

[2016-11-29 00:56] #85 closed, assigned to nobody

[2016-11-29 00:59] jagthedrummer commented on #25
We also need to move this script out of the sandbox and write some documentation around how to use it and where to place the source files, etc...

[2016-11-29 01:15] jagthedrummer commented on #71
We should also change `fy2016` to `FY2016` (for all years).

[2016-11-29 01:17] jagthedrummer commented on #71
Slightly modified text from @mathewmorris. Let's get this into a PR.

---

# Budget Evolution

This graph shows the shape of the budget allocation for each fiscal year. The further out on the graph the greater percentage of the budget allocated. Hover over the small filled in circles to see the exact percentage allocated.

[2016-11-29 01:19] jagthedrummer opened #88 "Radar chart tooltips"
When you hover over an agency name can we show a tool tip that gives you some indication of what that includes?

For instance when you hover over "Utilities" can we show "Water, Sewer, etc...".

Doug said he can get us a concise description of each agency.

[2016-11-29 01:19] jagthedrummer commented on #88
Maybe this applies to other charts as well?

[2016-11-29 01:25] jagthedrummer opened #89 "Budget tree colors"
Can we get more consistent colors within agencies?

[2016-11-29 01:31] jagthedrummer commented on #37
Yep, numbers are there and seem correct.

We should right align the number column and sort the table either alphabetically or by value. I think I'd vote for by value.

[2016-12-15 02:23] smurphy8 commented on #80
I think for initial launch, the strategy should be to build into docs on a selected branch.

That will change the github pages thing.

[2016-12-15 02:23] smurphy8 commented on #80
Eventually we can get travis going though.

[2016-12-15 02:54] smurphy8 opened #91 "budget-tree-map: Right align table and sort alphabetically"
![table_sort](https://cloud.githubusercontent.com/assets/182668/21210296/71f58100-c23f-11e6-80ec-811c7f0381c5.png)

Need to sort this list alphabetically.
Also change alignment to right align?

[2016-12-15 02:55] smurphy8 commented on #37
#91 addresses the additional requests moved to the other side of the launch as per @mkchandler

[2016-12-15 02:55] #37 closed, assigned to nobody

[2016-12-15 03:03] smurphy8 opened #92 "Need a new thumbnail for budget-tree-map"
The current thumb nail shows over lapping text that was fixed in :
https://github.com/codeforokc/openbudgetokc/pull/90

It should be replaced with a screen shot of the nice new visualization.

[2016-12-15 03:04] smurphy8 commented on #49
https://github.com/codeforokc/openbudgetokc/pull/90

I think that fixes this!  I vote close!

[2016-12-15 03:24] #92 closed, assigned to nobody

[2016-12-19 02:41] smurphy8 commented on #86
I like this idea, perhaps when we have more than 2 years?

[2017-01-03 00:09] dashcraft commented on #88
@jagthedrummer Right now it just shows the total budget, did you want to disregard this and
have a shortened list of sub items?

[2017-01-03 00:10] dashcraft commented on #55
@thirdcreed @smurphy8 Did any work get done on this? I can take a look at it later if it's still open!

[2017-01-03 01:56] dashcraft commented on #89
@jagthedrummer Something like a color wheel, differing opacities, or anything in particular you have in mind?

The current earth tone colors are a little hard on the eyes at times.

[2017-01-06 23:01] #91 closed, assigned to nobody

[2017-01-09 14:12] brentlightsey commented on #41
@mkchandler I'll experiment with this. Might be able to reuse NYTimes code.

[2017-01-12 02:32] mkchandler commented on #41
@brentlightsey 👍

[2017-01-12 02:39] #49 closed, assigned to nobody

[2017-01-19 12:26] brentlightsey commented on #41
Working on a CodePen on this to get the output right: http://codepen.io/brentlightsey/pen/PWZNxY

[2017-01-20 18:57] brentlightsey commented on #41
@mkchandler Matt (and others), please check out this CodePen.
https://codepen.io/brentlightsey/pen/PWZNxY

So far just copied the styles from the NYT article. What elements would we want to include and exclude? Would definitely love input on how we want to style each part.

Meanwhile, I'll work on the math to calculate the right relative font sizes for the numbers.

[2017-01-23 19:56] mkchandler commented on #41
@brentlightsey We will take a look at this during our hack night tonight! Thanks! Have you joined our Slack already (http://slack.codeforokc.org)?

[2017-01-24 00:43] kacollins opened #100 "Remove or shorten photo captions on timeline"
The captions are getting cut off on mobile, and some of them could use improvement in this context (for example, "Football season is coming").

[2017-01-24 01:08] kacollins opened #102 "Slack link under "Who we are" is broken"
Link goes to "http://openbudgetokc.org/slack.codeforokc.org" instead of "http://slack.codeforokc.org/"

[2017-01-24 01:10] jagthedrummer commented on #89
Yep, agreed. I'm open to anything really. This was just to capture some ideas from a meeting. Suggestions are more than welcome.

[2017-01-24 01:13] jagthedrummer commented on #102
Work in progress happening on this one.

[2017-01-24 01:14] mathewmorris opened #103 "Multiple tables rendered when window is resized"
You can see the visual issue here. It only happens when resizing the window. If refreshed at the same width, the extra charts clear.

![screencapture-localhost-9000-fy2016-okc-budget-tree-html-1485219914465](https://cloud.githubusercontent.com/assets/10860014/22229780/5dea1192-e19f-11e6-9cbc-0e3833c66f86.png)

This is the source code for when the bug has happened. Looks like the chart is rendered

[2017-01-24 01:21] mkchandler commented on #100
I removed the photo captions by adding `&nbsp;` to the "Media Caption" column in the data spreadsheet for the timeline.

[2017-01-24 01:21] #100 closed, assigned to nobody

[2017-01-24 01:21] mkchandler opened #104 "Add <title> tags to each of the pages"
A title only shows up on the home page, but none of the other pages.

[2017-01-24 01:39] #102 closed, assigned to nobody

[2017-01-24 01:41] mkchandler opened #106 "Update contributor list on web site"
Get the most current list of new contributors and add them to the site.

[2017-01-24 01:56] mkchandler commented on #106
Alex Ayon
@alex-code4okc

[2017-01-24 01:58] mkchandler commented on #106
Peter J. Pih
@railsnewbie257

[2017-01-24 01:59] mkchandler commented on #106
James England
@JEinOKC
http://twitter.com/JEinOKC

[2017-01-24 02:00] mkchandler commented on #106
Daniel Ashcraft
@dashcraft

[2017-01-24 04:04] #104 closed, assigned to nobody

[2017-01-24 04:05] #71 closed, assigned to smurphy8

[2017-01-24 04:05] #67 closed, assigned to nobody

[2017-01-24 05:05] #106 closed, assigned to nobody

[2017-01-24 05:08] mkchandler opened #110 "Pages still showing "FY2016"?"
Most of the pages and visualizations are saying "FY2016", but we should should be showing FY2017 data.

We need to verify that the right data is loaded and update the headers and descriptions where needed.

[2017-01-24 15:20] mkchandler commented on #80
@smurphy8 Thanks for getting the GitHub Pages stuff working! When you get a chance, can you document the steps to do a deployment?

[2017-01-24 16:30] smurphy8 commented on #80
Yes, README or wiki.  Also I could probably automate it so that whenever
things get pushed to master they go live...
I think that is probably a good idea honestly but could understand why
people would not want it.

On Tue, Jan 24, 2017 at 9:20 AM, Matt Chandler <notifications@github.com>
wrote:

--
Scott Murphy
scottmurphy09@gmail.com

[2017-01-27 01:16] #110 closed, assigned to nobody

[2017-01-29 03:48] dashcraft commented on #89
Gotcha! I may take a little time with my ui guy when i get the chance and get his opinion, i'll check out dribble and behance and see if any color combos look good.

I think i saw you at the techlahoma town hall meeting today btw, nice to meet you!

[2017-01-29 03:49] dashcraft commented on #106
twitter is @d_ofashandfire
I'll submit a pull request if i have time, no biggee.
Thank you for the add!

[2017-01-31 01:00] mkchandler opened #113 "Change "City Managers Office" label to "MAPS 3""
Received the following message from Doug Dowler:

[2017-01-31 01:36] #113 closed, assigned to mkchandler

[2017-02-08 12:31] brentlightsey commented on #41
@mkchandler Yes sir! I've just been reading so far, but will get in there soon. Have a commitment on Wednesdays that sometimes prevents my virtual participation. But still going to move forward on getting this into a D3 visual.

[2017-02-09 02:37] smurphy8 commented on #89
@dashcraft any progress here?

[2017-02-09 02:38] smurphy8 commented on #88
@jagthedrummer I can add tool tips.  How should I get a hold of Doug to get the descriptions?

[2017-02-09 02:39] mkchandler commented on #80
Fixed in #115

[2017-02-09 02:39] #80 closed, assigned to smurphy8

[2017-02-12 02:16] dashcraft commented on #89
Thank you for getting back to me, hit me up on slack for quicker responses.

I did investigate several different color schemas, these are the ones
i personally like!

https://yeun.github.io/open-color/
http://color.koya.io/

[2017-02-24 12:41] brentlightsey commented on #41
This pen has been updated with the basic markup and javascript that I think will work OK. Let me know what you think:

http://codepen.io/brentlightsey/full/PWZNxY/

[2017-02-28 00:45] jagthedrummer commented on #86
Yeah, I agree. This would be nice, but probably isn't a really pressing need at this point.

[2017-02-28 01:04] jagthedrummer commented on #55
@thirdcreed You're correct that this data is not sensitive. Using codepen for it is perfectly fine.

[2017-02-28 01:07] jagthedrummer commented on #41
@brentlightsey That is looking great! Is that actually our data?

[2017-02-28 01:47] jagthedrummer opened #120 "Remove JavaScript from fy2016-budget-overview.jade"
Similar to what @JEinOKC did in https://github.com/codeforokc/openbudgetokc/pull/117

We should be able to reuse the same `.js` file that he extracted. So we'll just need to delete the JS from the fy2016 file and add a link to `okc-budget-tree.js`.

[2017-03-04 19:55] jagthedrummer opened #124 "Remove _src/2012-2013-sankey.jade"
`_src/2012-2013-sankey.jade` is a file left over from Open Budget Oakland and can be entirely removed.

[2017-03-04 19:56] jagthedrummer opened #125 "Remove _src/2014-15-budget-tree.jade"
`_src/2014-15-budget-tree.jade` is a file left over from Open Budget Oakland and can be removed entirely.

[2017-03-04 19:58] jagthedrummer commented on #120
This was fixed in #121

[2017-03-04 19:58] #120 closed, assigned to nobody

[2017-03-04 20:02] jagthedrummer opened #126 "Do we still need _src/_data.json"
I can't tell that we use that file for anything. Does anybody know what it's for?

[2017-03-04 20:05] jagthedrummer opened #127 "Do we need _src/discuss.jade?"
I don't think we link to it anywhere, and it talks about Discourse, which I don't think we're using for anything.

[2017-03-04 20:07] jagthedrummer opened #128 "Do we need _src/feedback.jade ?"
It seems like mostly a duplicate of `_src/contact.jade` and we don't seem to link to it anywhere.

[2017-03-04 20:08] jagthedrummer opened #129 "Remove _src/public-2013-2015.jade"
`_src/public-2013-2015.jade` is left over from Open Budget Oakland and can be removed.

[2017-03-04 20:14] jagthedrummer opened #130 "Clean up _src/images/"
There are many files in `_src/images` that we don't need. We should identify which ones and then get rid of them.

For instance:

- [ ] _src/images/13-15thumb.png

[2017-03-04 20:31] jagthedrummer opened #131 "Clean up _src/js/"
There are a lot of scripts in `_src/js` and we probably don't need all of them. We should identify which ones are not used and get rid of them.

[2017-03-11 17:32] #124 closed, assigned to nobody

[2017-03-11 17:32] #125 closed, assigned to nobody

[2017-03-12 23:00] mathewmorris commented on #127
I checked it out. Doesn't look useful and also not linked to anywhere in the site. Just removed the file.

[2017-03-12 23:00] mathewmorris commented on #128
It was a duplicate of contact. Also everything that was linked to this page was using contact.html so I removed the file :) No errors on my end.

[2017-03-12 23:03] mathewmorris commented on #126
I think its the main title and description file used in the various jade files. I know I saw references to it from the budget-tree visualization.

Just for fun I deleted it and I got a huge error. I'm going to see if I can just hardcode all the titles so we don't have to have this weird json file for what seems could be done in the html.

[2017-03-12 23:04] mathewmorris commented on #126
ohhhhh.... Looks like it's pertinent meta data for SEO possibly.

[2017-03-14 11:45] brentlightsey commented on #41
Hey @jagthedrummer actually, this pen has the actual 2017 data in it. I'll ask for a little feedback via Slack:

http://codepen.io/brentlightsey/full/bqrpWW/

[2022-09-07 18:23] jsonthebson opened #140 "Closing Domain"
Hello! This issue is notification that Techlahoma cannot host openbudgetokc.com anymore, and we will be releasing the URL.

Please contact info@techlahoma.org with questions or concerns.